.main{
    display:flex;

.Text{
    color: white;
}
.Currentdaytitle{
    font-weight: normal;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 150px;
    color: white;
}
.Namediv{
    margin-top: 0px;
    color: white;
}
.Headingnumber{
    font-weight: normal;
}

}