@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
}

.App {
  width:100vw;
  height:100vh;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  width:414px;
}

.search{
  margin-top:20px;
  width:314px;
  position: relative;
  right:38px;
}

.dropdown {
  width:395px;
  margin-bottom:10px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

.ddmenu{
  margin-top:15px;
}

.food{
  margin-top: 15px;
  margin-left:10px;
}

.nav {
  background-color: white;
  width:414px;
  height:86px;
}

.info{
  position: relative;
  right:193px;
  bottom:50px;
}

